body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f0f0;
}

.clock {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid black;
    position: relative;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom center;
    transform: translateX(-50%) rotate(0deg);
    background-color: black;
}

.hour {
    width: 8px;
    height: 50px;
    margin-left: -4px; /* Half the width */
}

.minute {
    width: 5px;
    height: 70px;
    margin-left: -2.5px; /* Half the width */
}

.second {
    width: 2px;
    height: 80px;
    margin-left: -1px; /* Half the width */
    background-color: red;
}

.center-dot {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
